@font-face {
  font-family: "iconfont"; /* Project id 3520881 */
  src: url('iconfont.woff2?t=1657729445952') format('woff2'),
       url('iconfont.woff?t=1657729445952') format('woff'),
       url('iconfont.ttf?t=1657729445952') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lishijilu:before {
  content: "\eaf7";
}

.icon-huatifuhao:before {
  content: "\e8b1";
}

.icon-sousuo2:before {
  content: "\e723";
}

.icon-liebiao:before {
  content: "\e600";
}

.icon-xinlangweibo:before {
  content: "\e601";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-sousuo1:before {
  content: "\e622";
}

.icon-wifi-copy:before {
  content: "\e784";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-youjian:before {
  content: "\e624";
}

.icon-shipin:before {
  content: "\e649";
}

.icon-lianxiren:before {
  content: "\e614";
}

.icon-remen:before {
  content: "\e8c9";
}

.icon-wenbenshuru:before {
  content: "\e602";
}

.icon-ai250:before {
  content: "\e6ee";
}

.icon-liebiao1:before {
  content: "\e603";
}

.icon-shuaxin:before {
  content: "\e6a7";
}

.icon-duihua:before {
  content: "\e604";
}

.icon-dianzan:before {
  content: "\e8ad";
}

.icon-fenxiang:before {
  content: "\e8b0";
}

